body {
    font-family:  "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
  }

  img {
    max-width: 100%;
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    position: relative;
    width: 1200px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
    
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
  }

  a {
    text-decoration: none;
  }

  .main-navigation {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    background-color: #ffffff;
  }

  .main-header {
    position: relative;
  }

  .main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
  }

  .site-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 0;  /* Если не обнулить паддинг слева, то он его сдвигает вправо, от чего он его берет, от контейнера или от ul?*/
  }

  .site-navigation li {
    width: 240px;
    box-sizing: border-box;
  }

  .site-navigation li:first-child {
    padding-left: 73px;
  }

  .site-navigation li:nth-child(2) {
    margin-right: 240px;
    text-align: center;
  }

  .site-navigation li:nth-child(3) {
    text-align: center;
  }

  .site-navigation li:last-child {
    padding-right: 73px;
    text-align: right;
  }

  .site-navigation a {
    color: #000000;
  }

  .header-image {
    background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1200px auto;
    background-color: gray;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-title {
    margin-top: 78px;
    margin-bottom: 30px;
  }

  .site-navigation a:hover,
  .site-navigation a:focus {
    color: #bdd7e8;
  }
  .site-navigation a:active {
    color: #e2e2e2;
  }

  .site-navigation .active {
    color: #d0cac6;
  }

  .main-description {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .main-description h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;

    padding-bottom: 40px;
  }

  .main-description p {
    margin: 0;
  }

  .true-city {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .true-city-description {
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
  
    width: 400px;
    padding-bottom: 60px;
    padding-top: 47px;
  }

  .true-city-image {
    width: 800px;
    height: 256px;      
  }

  .true-city-description h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;

    margin-bottom:20px;
  }
  
  .true-city-description p {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .add-adventages-list {
    list-style: none;
    display: flex;

    margin: 0;
    padding: 0;
  }

  .add-adventages-item {
    text-align: center;
    width: 400px;
    padding-top: 155px;
    padding-bottom: 80px;
  }
  
  .add-adventages-item h3 {
    position: relative;
    
    font-size: 21px;
    font-weight: 700;

    margin-top: 0;
  }

  .add-adventages-item:nth-child(1) h3::before {
    content: "";
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  .add-adventages-item:nth-child(2) h3::before {
    content: '';
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  .add-adventages-item:nth-child(3) h3::before {
    content: '';
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  .add-adventages-item p {
    margin: 0;
  }

  .devil-bridge {
    display: flex;
    flex-direction: row-reverse;
  }

  .devil-bridge-description {
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;

    width: 400px;
    padding-top: 47px;
    padding-bottom: 60px;
  }

  .devil-bridge-description h2 {
    font-size: 21px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom:20px;
  }

  .devil-bridge-description p {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .devil-bridge-image {
    width: 800px;
    height: 256px; 
  }

  .last-adventages-list {
    list-style: none;
    background-color: #eeeeee;

    display: flex;
    margin: 0;
    padding: 0;
  }

  .last-adventages-item {
    text-align: center;
    width: 400px;
    padding-top: 47px;
    padding-bottom: 60px; 
  }

  .last-adventages-item p {
    margin: 0;
    margin-top: 25px;   
  }

  .last-adventages-item h2 {
    font-size: 21px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 25px;
  }

  .proposal {
    text-align: center;
  }

  .proposal h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;

    margin-top: 55px;
  }
  
  .proposal p {
    margin-bottom: 50px;
  }

  .search-button {
    position: relative;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;

    display: block;
    width: 572px;
    margin: 0 auto;
    padding: 30px 0;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;
    border: none;
  }

  .search-button:hover,
  .search-button:focus {
    background-color: #604e43;
  }
  
  .search-button:active {
    background-color: #503e33;
    color: #796d67;
  }

  .footer-index {
    position: absolute;
    z-index: 1; 
    bottom: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    padding: 36px 0;
    
    background-color: rgba(253, 253, 253, 0.8); 
  }

  .main-footer {
    background-color: #fefefe;
    width: 1200px;
    padding: 36px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;
    
  }

  .footer-hash {
    font-size: 21px;
    padding-left: 132px;
  }

  .footer-social {
    text-align: center;
  }

  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
  
    background-color: #81b3d2;
  }
  
  .footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 160px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  .social-button:hover,
  .social-button:focus {
    background-color: #669ec0;
  }

  .social-button:active path{
    fill: #7baecc;
  }

  .social-button:active {
    background-color: #5496bd;
    justify-content: center;
  }
  
  .footer-logo:hover path{
    fill: #a8cbe0;
  }

  .footer-logo:active path{
    fill: #bdbbbc;
  }

  .footer-logo a:active {
    color: black;
  }

  .footer-academy-logo {
    display: flex;
    align-items: center;
    padding-right: 132px; 
  }

  .footer-academy-logo span {
    padding-bottom: 8px;
  }

  .footer-logo svg {
    width: 120px;
    height: 50px;
    margin-left: 10px;
  }

  .search-hotel-form input {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
  }

  .search-hotel-form input:hover {
    background-color: #ebebeb;
    border: none;
  }
  
  .search-hotel-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  .find-button {
    display: block;
    width:100%;
    margin-top: 30px;
    padding: 21px 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
  }

  .find-button:hover,
  .find-button:focus {
    background-color: #669ec0;
  }

  .find-button:active {
    background-color: #5496bd;
    color: #83b0cc;
  }

  .filters {
    color: #ffffff;
    background-color: #5b88b0;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .filter-form {
    display: flex;
    width: 1056px;
    padding-top: 28px;
    padding-bottom: 5px;
    padding-right: 72px;
    padding-left: 72px; 
  }

  .hotel-filter {
    width: 241px;
  }

  .hotel-filter h2 {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .hotel-filter ul {
    padding: 0;
    margin-left: 36px;
    margin-top: 0;
    margin-bottom: 0; 
  
    list-style: none;
  }

  .filter-option {
    margin-bottom: 23px;
  }

  .filter-option label {
      position: relative;
    
      display: block;
    
      cursor: pointer;
      user-select: none;
  }

  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 0;
  
    width: 25px;
    height: 25px;
  
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
  }
  

  .filter-input-checkbox:checked + label::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: -36px;
  
    width: 28px;
    height: 28px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
  }

  .cost-hotel-filter {
    width: 528px;
    
  }

  .filter-range {
    width: 330px;
    padding-left: 242px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }

  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }

  .filter-button {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    
    display: block;
    width: 135px;
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  .filter-button:hover,
  .filter-button:focus {
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  .catalog-sorting {
    display: flex;
    align-items: baseline;
    padding: 30px 0;
    width: 1200px;
  }

  .sorting-type {
    display: flex;
    align-items: baseline;

    width: 800px;
  }

  .catalog-sorting ul {
    margin: 0;
    display: flex;
    list-style: none;
  }

  .sort-find {
    font-size: 21px;
    font-weight: 700;
  }

  .sort-name {
    font-size: 12px;
    line-height: 18px;
  }

  .sorting-list li{
    padding-right: 30px;
  }

  .sorting-list a{
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #83b4d3;
    border-bottom-style: dotted;

    color: rgba(0, 0, 0, 0.3);
  }

  .sorting-list a:hover,
  .sorting-list a:focus {
    color: #81b3d2;
  }

  .sorting-list a:active {
    color: #000000;
    border: none;
  }

  .sorting-list .active-sort-link {
    color: #81b3d2;
    border: none;
  }

  .sorting-result {
    margin-left: 73px;
    width: 160px;
  }

  .sorting-up-down {
    display: flex;
    width: 96px;
    justify-content: flex-end;
    padding: 0;
  }

  .up-down-list ul{
    margin: 0;
    padding: 0;
    width: 100px;
  }

  .down {
    margin-left: 11px;
  }

  .up:hover path{
    fill: #000000;
  }

  .up:active path{
    fill: #81b3d2;
  }

  .down:active path{
    fill: #81b3d2;
  }

  .up path{
    fill: rgba(0, 0, 0, 0.3);
  }

  .down:hover path{
    fill: #000000;
  }

  .down path{
    fill: #81b3d2;
  }

  .catalog-item {
    display: flex;
    justify-content: space-between;
    padding: 25px 73px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .catalog-description {
    display: flex;
    width: 781px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .catalog-image {
    width: 165px;
    height: 90px;
  }

  .description-price {
    margin-left: 7px;
  }

  .catalog-description h2 {
    min-width: 750px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .catalog-description a{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }

  .catalog-description a:hover,
  .catalog-description a:focus {
    color: #81b3d2;
  }

  .catalog-description a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .description-detail a{
    display: block;
    margin-top: 16px;
    padding: 3px 17px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
  }

  .description-detail a:hover,
  .description-detail a:focus {
    background-color: #669ec0;
    color: #ffffff;
  }

  .description-detail a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  .description-price a {
    display: block;
    margin-top: 16px;
    padding: 3px 17px;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    background-color: #766357;
  }
  .description-price a:hover,
  .description-price a:focus {
    background-color: #604e43;
    color: #ffffff;
  }

  .description-price a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
  }

  .rating {
    padding: 5px 10px;
    color: #666666;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 30px;
  }

  .stars {
    text-align: right;
   }

  .stars span {
    font-size: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image:url("../img/star.svg");
    background-repeat: no-repeat;
  } 

  .modal {
    position: absolute;
    
    color: #000000;
    font-weight: 700;

    background-color: #ffffff;
  }
  
  .modal-search-hotels {
    left: 50%;
    margin-left: -287px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
   
    padding: 53px;
  
    box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15)
  }

  .search-hotel-date {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .search-hotel-date>label {
    padding-top: 5px;
    margin-bottom: 10px;
    width: 110px;
  }

  .modal-search-hotels input {
    border: none;
    background-color: rgb(242, 242, 242);

    height: 35px;
    width: 347px;
    margin-bottom: 20px; 
    padding-left: 10px;

    text-transform: uppercase;
    cursor: pointer;
    
  }

  .icon-calendar {
    position: absolute;
    right: 8px;
    top: 5px;
    width: 23px;
    height: 23px;

    background-color: transparent;
    background-image: url("../img/calendar.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    border: none;
  }

  .icon-calendar:hover,
  .icon-calendar:focus {
    background-image: url("../img/calendar-blue.svg");
  }

  .icon-calendar:active {
    background-image: url("../img/calendar.svg");
    opacity: 1;
  }

.search-hotel-people {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.search-hotel-people input {
  width: 37px;

  border: none;
  background-color: #f2f2f2;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount label {
  margin-right: 35px;
}

.amount:last-child label {
  margin-right: 25px;
}

.plus-button {
    position: relative;

    height: 37px;
    width: 45px;
    padding: 0;
    
    border: none;
    background-color: #f2f2f2;
    color: #a9a9a9;
}

.minus-button {
  height: 37px;
  width: 45px;
  padding: 0;
  
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.minus-icon {
  display: inline-block;
  width: 11px;
  height: 3px;
  margin-bottom: 3px;

  background-color: #d0d0d0;
}

.plus-icon {
  display: inline-block;
  width: 11px;
  height: 3px;
  background-color: #d0d0d0;
  margin-bottom: 3px;
}

.plus-icon::after {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 50%;
  transform: translate(-50%);
  width: 3px;
  height: 11px;
  background-color: #d0d0d0;
}

.plus-button:hover .plus-icon,
.plus-button:focus .plus-icon,
.plus-button:hover .plus-icon::after,
.plus-button:focus .plus-icon::after {
  background-color: black;
}

.minus-button:hover .minus-icon,
.minus-button:focus .minus-icon {
  background-color: black;
}

.plus-button:active .plus-icon,
.plus-button:active .plus-icon::after {
  background-color: #9dc4dc;
}

.minus-button:active .minus-icon {
  background-color: #9dc4dc;
}

  

