body {
  font-family:  "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

.no-js .modal {
  display: block;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  min-height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;

  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  
  
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.15);
  
          box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.15);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

.site-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 71px;
  padding-right: 71px;
  margin: 0;
}

.site-navigation li {
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 97px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 5px;

}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.header-image {
  position: relative;
  background-image: url("../img/background-image-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  background-size: 1200px auto;
  background-color: #5f7483;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-title {
  margin-top: 76px;
  margin-bottom: 80px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #bdd7e8;
}
.site-navigation a:active {
  color: #e2e2e2;
}

.site-navigation .active {
  color: #d0cac6;
}

.main-description {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
  padding-right: 13px;
  
}

.main-description h2 {
  font-size: 21px;
  font-weight: 700;

  width: 620px;
  margin: 0 0 0 290px;
  padding-bottom: 28px;
  padding-top: 3px;
}

.main-description p {
  margin: 0;
  padding-left: 9px;
  padding-bottom: 2px;
}

.true-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
}

.true-city-description {
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;

  width: 400px;
  padding-top: 45px;

  line-height: 23px;
}

.true-city::after {
  content: "";
  width: 800px;
  height: 256px;   
  background-image: url("../img/true-city.jpg");
  background-repeat: no-repeat;
  background-position: 0 -80px;
}

.true-city-description h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  margin: 0 0 23px 125px;
  width: 150px;
}

.true-city-description p {
  margin-bottom: 0;
  margin-top: 21px;
  margin-right: 50px;
  margin-left: 50px;
  
  line-height: 21px;
  padding-bottom: 5px;
}

.add-adventages-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.add-adventages-item {
  text-align: center;
  width: 33.33%;
  padding-top: 159px;
  padding-bottom: 80px;
} 


.add-adventages-item h3 {
  position: relative;
  
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  margin-top: 0;
  margin-bottom: 23px;
}

.add-adventages-item:nth-child(1) h3::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.add-adventages-item:nth-child(2) h3::before {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.add-adventages-item:nth-child(3) h3::before {
  content: '';
  position: absolute;
  bottom: 49px;
  left: 51%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

.add-adventages-item p {
  margin: 0;
  line-height: 23px;
  padding-right: 2px;

  padding-right: 50px;
  padding-left: 48px;
}

.devil-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;

  background-color: #81b3d2;
}

.devil-bridge-description {
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;

  width: 400px;
  padding-top: 44px;
}

.devil-bridge-description h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 23px;

  margin-top: 0;
  margin-bottom:19px;
}

.devil-bridge-description p {
  margin-top: 19px;
  margin-bottom: 0;
  margin-right: 45px;
  margin-left: 44px;
  padding-bottom: 5px;
  line-height: 21px;
}

.devil-bridge::after {
  content: "";
  width: 800px;
  height: 256px; 

  background-image: url("../img/devil-bridge.jpg");
  background-repeat: no-repeat;
  background-position: 0 -75px;
}

.last-adventages-list {
  list-style: none;
  background-color: #eeeeee;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.last-adventages-item {
  text-align: center;
  line-height: 22px;
  width: 33.33%;
  padding-top: 47px;
  padding-bottom: 61px; 
}

.last-adventages-item p {
  width: 269px;
  
  margin-top: 19px; 
  margin-left: 64px;
  margin-bottom: 0;

  line-height: 21px;
}
.last-adventages-item:nth-child(3) p{
  margin-left: 75px;
  width: 250px;
}

.last-adventages-item h2 {
  width: 150px;

  font-size: 21px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 125px;
}

.proposal {
  text-align: center;
}

.proposal h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  margin-top: 50px;
  margin-bottom: 22px;
}

.proposal p {
  margin-bottom: 47px;
  margin-top: 0;
  
  line-height: 25px;
}

.search-button {
  position: relative;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  display: block;
  width: 554px;
  margin: 0 auto;
  padding: 29px 7px 30px 7px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  background-color: #503e33;
  color: #796d67;
}

.map iframe {
  display: block;
  width: 1200px;
  height: 595px;

  background: #dfe7cd;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;

  border: 0;
}

.main-footer {
  background-color: #fefefe;
  width: 1200px;
  padding: 35px 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: auto;
  
}

.footer-index {
  position: absolute;
  z-index: 1; 
  bottom: 0;
  padding: 31px 0;
 
  background-color: rgba(253, 253, 253, 0.8); 
}

.footer-hash {
  display: inline-block;
  vertical-align: middle;

  word-wrap: break-word;
  font-size: 21px;
  text-align: center;

  padding-bottom: 10px;
  padding-left: 5px;

  width: 33%;
}

.footer-hash>a {
  color: #000000;
  font-weight: 700;
}

.footer-social {
  padding-bottom: 4px;
  padding-right: 5px;
  width: 34%;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  width: 46px;
  height: 46px;

  background-color: #81b3d2;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 149px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer-social li {
  padding-bottom: 2px;
  padding-top: 2px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path{
  fill: #7baecc;
}

.social-button:active {
  background-color: #5496bd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logo:hover path{
  fill: #a8cbe0;
}

.footer-logo:active path{
  fill: #bdbbbc;
}

.footer-logo a:active {
  color: black;
}

.footer-academy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-academy-logo span {
  padding-bottom: 7px;
  padding-right: 5px;
}

.footer-logo svg {
  width: 120px;
  height: 50px;
  padding-right: 1px;
}

.search-hotel-form {
  width: 455px;
}

.search-hotel-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-hotel-form input:hover {
  background-color: #ebebeb;
  border: none;
}

.search-hotel-form input:focus {
  background-color: #ffffff;
  border: none;
}

.find-button {
  display: block;
  width: 100%;
  padding: 19px 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: #83b0cc;
}

.filters {
  color: #ffffff;
  background-color: #365666;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position-y: -60px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1056px;
  padding-top: 24px;
  padding-bottom: 11px;
  padding-right: 72px;
  padding-left: 72px; 
}

.hotel-filter {
  width: 255px;
}

.hotel-filter h2 {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 16px;
}

.hotel-filter ul {
  padding: 0;
  margin-left: 36px;
  margin-top: 0;
  margin-bottom: 0; 

  list-style: none;
}

.filter-option {
  margin-bottom: 19px;
}

.filter-option label {
    position: relative;
  
    display: block;
    padding-left: 4px;
  
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:focus + label::before {
  outline: 2px solid #81b3d2;;
}


.filter-input-checkbox:checked + label::before {
  content: "";
  
  position: absolute;
  top: 2px;
  left: -36px;

  width: 28px;
  height: 28px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.cost-hotel-filter {
  width: 528px;
  
}

.filter-range {
  padding-left: 229px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 2px;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 102px;
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  
  display: block;
  width: 136px;
  margin: 0 85px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 29px 0;
  width: 1200px;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  width: 794px;
}

.catalog-sorting ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sort-find {
  font-size: 21px;
  font-weight: 700;
}

.sort-name {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list li{
  padding-right: 33px;
}

.sorting-list a{
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  
  border-bottom: 1px solid #83b4d3;
  border-bottom-style: dotted;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.sorting-list .active-sort-link {
  color: #81b3d2;
  border: none;
}

.sorting-result {
  margin-left: 73px;
  width: 163px;
}

.sorting-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.up-down-list ul{
  margin: 0;
  padding: 0;
  width: 100px;
}

.updown-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.down {
  margin-left: 11px;
}

.up:hover path{
  fill: #000000;
}

.up:active path{
  fill: #81b3d2;
}

.down:active path{
  fill: #81b3d2;
}

.up path{
  fill: rgba(0, 0, 0, 0.3);
}

.down:hover path{
  fill: #000000;
}

.down path{
  fill: #81b3d2;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  padding-bottom: 3px;
}

.catalog-image {
  width: 159px;
  height: 90px;
}

.description-price {
  margin-left: 5px;
}

.catalog-description h2 {
  min-width: 750px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 0;
}

.catalog-description a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-description a:hover,
.catalog-description a:focus {
  color: #81b3d2;
}

.catalog-description a:active {
  color: rgba(0, 0, 0, 0.3);
}

.description-detail a{
  display: block;
  margin-top: 13px;
  padding: 3px 17px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.description-detail a:hover,
.description-detail a:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.description-detail a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.description-price a {
  display: block;
  margin-top: 13px;
  padding: 3px 17px;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}
.description-price a:hover,
.description-price a:focus {
  background-color: #604e43;
  color: #ffffff;
}

.description-price a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.rating {
  padding: 1px 11px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 44px;
}

.stars-4 {
  background-image: url(../img/stars.png);
  width: 104px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 17px 4px;
 }

 .stars-3 {
  background-image: url(../img/stars.png);
  width: 104px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 40px 4px;
 }

 .stars-2 {
  background-image: url(../img/stars.png);
  width: 104px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 63px 4px;
 }

.stars span {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  background-image:url("../img/star.svg");
  background-repeat: no-repeat;
} 

.modal {
  position: absolute;
  
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
  display: none;
}

input[type="text"]::-ms-clear {
  display: none;
}

.modal-close {
  visibility: hidden;
  -webkit-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.modal-show {
  display: block;
  -webkit-animation: form-opacity 0.8s;
          animation: form-opacity 0.8s;
}

.modal-search-hotels {
  left: 50%;
  margin-left: -284px;
  z-index: 1;
 
  padding: 56px 57px 56px 57px;

  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);

          box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
}



@-webkit-keyframes form-opacity {
  0% {
    opacity:0;
    }
  100% {
    opacity:1;
    }
 }


@keyframes form-opacity {
  0% {
    opacity:0;
    }
  100% {
    opacity:1;
    }
 }

 @-webkit-keyframes form-close {
  0% {
    opacity:1;
    }
  100% {
    opacity:0;
    }
 }

 @keyframes form-close {
  0% {
    opacity:1;
    }
  100% {
    opacity:0;
    }
 }

 @-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

 @keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

 .modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-hotel-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  margin-bottom: 10px;
}

.rating-item {
  width: 105px;
}

.search-hotel-date>label {
  padding-top: 5px;
  margin-bottom: 10px;
  width: 115px;
}

.modal-search-hotels input {
  border: none;
  background-color: rgb(242, 242, 242);

  height: 35px;
  width: 340px;
  margin-bottom: 20px; 
  padding-left: 10px;

  text-transform: uppercase;
  cursor: pointer;
}

.icon-calendar {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 23px;
  height: 23px;

  background-color: transparent;
  background-image: url("../img/calendar.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  border: none;
}

.icon-calendar:hover,
.icon-calendar:focus {
  background-image: url("../img/calendar-blue.svg");
}

.icon-calendar:active {
  background-image: url("../img/calendar.svg");
  opacity: 1;
}

.search-hotel-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between;

  margin-bottom: 53px;
}

.search-hotel-people input {
  width: 40px;
  height: 36px;

  border: none;
  background-color: #f2f2f2;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount label {
  margin-right: 40px;
}

.amount:last-child label {
  margin-right: 25px;
}

.plus-button {
  position: relative;

  height: 38px;
  width: 36px;
  padding: 0;
  
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.minus-button {
  height: 38px;
  width: 36px;
  padding: 0;

  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.minus-button::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 3px;
  margin-bottom: 3px;

  vertical-align: middle;

  background-color: #d0d0d0;
}

.plus-button::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 3px;

  vertical-align: middle;

  margin-bottom: 3px;

  background-color: #d0d0d0;
}

.plus-button::after {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 50%;
  -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
        transform: translate(-50%);

  width: 3px;
  height: 11px;

  background-color: #d0d0d0;
}

.minus-button:hover::before {
  background-color: black;
}
.minus-button:active::before {
  background-color: #9dc4dc;
}
  

.plus-button:hover::after {
  background-color: black;
}

.plus-button:hover::before{
  background-color: black;
}

.plus-button:active::after,
.plus-button:active::before {
  background-color: #9dc4dc;
}


